# Virtual Environment

.venv/
venv/

# Environment Variables

.env

# Python

**pycache**/
*.py[cod]
*$py.class

# Distribution

build/
dist/
*.egg-info/

# Testing

.pytest_cache/
.coverage

# IDE

.vscode/
.idea/

# Database

*.db
*.sqlite3

# Logs

*.log

# OS Files

.DS_Store
Thumbs.db

# Alembic

alembic/versions/**pycache**/

# Uploads

uploads/
media/
