fastapi
uvicorn

sqlalchemy
psycopg2-binary
alembic

jinja2

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart

pydantic
pydantic-settings

fastmcp

langchain
langgraph
langchain-groq
langchain-mcp-adapters

python-dotenv
